<%= simple_form_for(@wholesaler) do |f| %>
  <% if @wholesaler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wholesaler.errors.count, "error") %> prohibited this wholesaler from being saved:</h2>

      <ul>
      <% @wholesaler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, as: :string, :label => false, :placeholder => 'name' %>
    <%= f.input :address, as: :string, :label => false, :placeholder => 'address' %>
    <%= f.input :phone, as: :string, :label => false, :placeholder => 'phone' %>
    <%= f.input :fax, as: :string, :label => false, :placeholder => 'fax' %>
    <%= f.input :line_of_b, as: :string, :label => false, :input_html => { :value => "Frutas y Hortalizas" } %>
    <%= f.input :prodcuts, as: :string, :label => false, :placeholder => 'products' %>
    <%= f.input :mail, as: :string, :label => false, :placeholder => 'mail' %>
    <%= f.input :city, as: :string, :label => false, :placeholder => 'Ciudad' %>
    <%= f.input :state, as: :string, :label => false, :placeholder => 'Estado' %>
    <%= f.input :market, as: :string, :label => false, :placeholder => 'Productor, comerzializador, etc' %>



  </div>
  <div class="actions">
    <%= f.submit 'Crear', class: "btn btn-large btn-primary" %>
  </div>
<% end %>

