<div class="container" id="pad-from-navbar">
  <h1>Listing wholesalers</h1>

  <div class="row-fluid">
  <div class="span12 pagination-centered">
    <%= form_tag wholesalers_path, :method => 'get' do %><br><br>
      <%= select_tag :search, options_for_select(["none", "mail", "web", "both"]) %>  
      <%= select_tag :serach1, options_for_select(["Mexico"]) %>  
      <%= select_tag :search2, options_for_select(mexico_states1) %>  
      <%= submit_tag "Filtrar", :name => nil, class: "btn btn-success" %>  
    <% end %>
    </div>
  </div>

      <table class="table table-condensed table-hover">
        <div class="bidask-wrapper">
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Market</th>
      <th>Phone</th>
      <th>Mail</th>
      <th>Webpage</th>
    </tr>

  <% @wholesalers.each do |wholesaler| %>
    <tr>
      <% if @search == "mail" %>
        <% if wholesaler.mail? %>
          <td class="s-font"><%= wholesaler.name %></td>
          <td class="s-font"><%= wholesaler.city %></td>
          <td class="s-font"><%= wholesaler.market %></td>
          <td class="s-font"><%= wholesaler.phone %></td>
          <% if !wholesaler.contacted_email.nil? ||  !wholesaler.contacted_email.empty? %>
            <td class="s-font"><b><%= wholesaler.mail %></b></td>
          <% else %>
            <td class="s-font"><%= wholesaler.mail %></td>
          <% end %>
          <td class="s-font"><a href="<%= wholesaler.web_page %>"><%= wholesaler.web_page %></a></td>
          <td><%= link_to 'Email', mailto_path(:id => wholesaler.id) %></td>
          <td><%= link_to 'Show', wholesaler %></td>
          <td><%= link_to 'Edit', edit_wholesaler_path(wholesaler) %></td>
        <% end %>
      <% elsif @search == "web" %>
        <% if wholesaler.web_page? %>
          <td class="s-font"><%= wholesaler.name %></td>
          <td class="s-font"><%= wholesaler.city %></td>
          <td class="s-font"><%= wholesaler.market %></td>
          <td class="s-font"><%= wholesaler.phone %></td>
          <% if !wholesaler.contacted_email.nil? ||  !wholesaler.contacted_email.empty? %>
            <td class="s-font"><b><%= wholesaler.mail %></b></td>
          <% else %>
            <td class="s-font"><%= wholesaler.mail %></td>
          <% end %>
          <td class="s-font"><a href="<%= wholesaler.web_page %>"><%= wholesaler.web_page %></a></td>
          <td><%= link_to 'Show', wholesaler %></td>
          <td><%= link_to 'Edit', edit_wholesaler_path(wholesaler) %></td>
        <% end %>
      <% elsif @search == "both" %>
        <% if wholesaler.mail? || wholesaler.web_page? %>
          <td class="s-font"><%= wholesaler.name %></td>
          <td class="s-font"><%= wholesaler.city %></td>
          <td class="s-font"><%= wholesaler.market %></td>
          <td class="s-font"><%= wholesaler.phone %></td>
          <% if !wholesaler.contacted_email.nil? ||  !wholesaler.contacted_email.empty? %>
            <td class="s-font"><b><%= wholesaler.mail %></b></td>
          <% else %>
            <td class="s-font"><%= wholesaler.mail %></td>
          <% end %>
          <td class="s-font"><%= wholesaler.mail %></td>
          <td class="s-font"><a href="<%= wholesaler.web_page %>"><%= wholesaler.web_page %></a></td>
          <td><%= link_to 'Show', wholesaler %></td>
          <td><%= link_to 'Edit', edit_wholesaler_path(wholesaler) %></td>
        <% end %>
      <% elsif @search == "none" %>
        <td class="s-font"><%= wholesaler.name %></td>
          <td class="s-font"><%= wholesaler.city %></td>
          <td class="s-font"><%= wholesaler.market %></td>
          <td class="s-font"><%= wholesaler.phone %></td>
          <% if !wholesaler.contacted_email.nil? ||  !wholesaler.contacted_email.empty? %>
            <td class="s-font"><b><%= wholesaler.mail %></b></td>
          <% else %>
            <td class="s-font"><%= wholesaler.mail %></td>
          <% end %>
          <td class="s-font"><a href="<%= wholesaler.web_page %>"><%= wholesaler.web_page %></a></td>
          <td><%= link_to 'Show', wholesaler %></td>
          <td><%= link_to 'Edit', edit_wholesaler_path(wholesaler) %></td>
      <% end %>
    </tr>
  <% end %>
</div>
  </table>

  <br />

  <%= link_to 'New Wholesaler', new_wholesaler_path %>
</div>
